{% extends 'base.html.twig' %}

{% block title %}New Recettes{% endblock %}

{% block body %}
{% include 'navbar.html.twig' %}

    {{ include('recettes/_form.html.twig') }}

    <a href="{{ path('recettes_index') }}">back to list</a>
{% endblock %}
